
<div class="nav-fixed">
	<%= image_tag '/kblogo.ico' %>
	<ul>
		<li>
			<%= link_to 'Home', root_path %>
		</li>
		<li>
			<%= link_to 'Portfolio', home_portfolio_path %>
		</li>
		<li>
			<%= link_to 'Contact', home_contact_path %>
		</li>
	</ul>
</div>
<div class="contact-body">
	<h1>Contact Me</h1>
	<div class="contact-form">
	<!-- CONTACT FORM -->
		<%= form_tag(controller: "home", action:"sendmail", method: "post") do %>
			<!-- FIRST PANEL -->
			<div class="contact-info">
				<h2 class="contact-title">Your info</h2>
				<%= text_field_tag(:name, nil, :placeholder => "Name", size: "40x1", required: true) %>
				<br>
				<br>
				<%= email_field_tag(:email, nil, :placeholder => "Email", size: "40x1", required: true) %>
			</div>
			<br>
			<!-- SECOND PANEL -->
			<div class="contact-info">
				<h2 class="panel-title">Your comments</h2>
				<br>
				<%= text_area_tag(:body, nil, :placeholder => "Message", size:"40x12") %>
				<br>
				<%= button_tag("Send", type: 'submit') %>
			</div>
		<% end %>
	</div>
</div>
<div class="footer container-fluid">
		<div class="foot-row row">
			<div class="left col-md-4">

			</div>
			<div class="center col-md-4"></div>
			<div class="right col-md-4">
				<ul>
					<li>
						<a href="https://www.linkedin.com/in/kyle-bennett-b796a593">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/kylejbennett">
							<i class="fa fa-github"></i>
						</a>
					</li>
					<li id="copy">
						&copy Copyright 2015
					</li>
				</ul>
			</div>
		</div>
	</div>